{% extends 'portfolio/layout.html' %}

{% block main %}
    <br>
    <h1><span style="color:#13312d; font-weight:bold; font-size:xxx-large;">Experiência Profissional</span></h1>
    <br>
    <br>
    <br>
    <table class="tabelaExperiênciaProfissional">
        <thead>
        <tr class="header-tr">
            <th>NOME</th>
            <th>DATA DE INICIO</th>
            <th>DATA FIM</th>
            <th>DESCRIÇÃO</th>
        </tr>
        </thead>
        <tbody>
        {% for experiencia in experiencia_profissional %}
            <tr>
                <td>{{ experiencia.nome }}</td>
                <td>{{ experiencia.dataInicio }}</td>
                <td>{{ experiencia.dataFim }}</td>
                <td>{{ experiencia.descricao  | safe }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
