<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vera Tavares</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'portfolio:home' %}">Home</a></li>
            <li><a>Educação</a>
                <ul>
                    <li><a href="{% url 'portfolio:percurso_academico' %}">Percurso Académico</a></li>
                    <li><a href="{% url 'portfolio:licenciatura' %}">Licenciatura</a></li>
                    <li><a href="{% url 'portfolio:outras_competencias' %}">Outras Competências</a></li>
                    <li><a href="{% url 'portfolio:projectos_desenvolvidos' %}">Projectos Desenvolvidos</a></li>
                    <li><a>Laboratórios Realizados</a>
                        <ul>
                            <li><a href="http://veratavares.pythonanywhere.com/" target="_blank">Lab2</a></li>
                            <li><a href="http://a21700054vera.pythonanywhere.com/" target="_blank">Lab3</a></li>
                            <li><a href="https://vt21700054.pythonanywhere.com/a21700054-pw-lab4/"
                                   target="_blank">Lab4</a></li>
                            <li><a href="https://vt21700054.pythonanywhere.com/Portfolio/index.html"
                                   target="_blank">Lab5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:experiencia_profissional' %}">Experiência Profissional</a></li>
            <li><a href="{% url 'portfolio:experimente_voce' %}">Experimente Você!</a></li>
            <li><a href="{% url 'portfolio:adicionar_info' %}">Actualizar Informação</a></li>
            <li><a href="{% url 'portfolio:contacto' %}">Contactos</a></li>
        </ul>
        <div class="toggle-container">
            <label class="toggle">
                <input type="checkbox" id="mode-toggle">
                <span class="slider"></span>
                <span class="icon sun"><i class="fas fa-sun"></i></span>
                <span class="icon moon"><i class="fas fa-moon"></i></span>
            </label>
        </div>
    </nav>
</header>

<main>
    {% block main %}
    {% endblock main %}
</main>

<footer><img src="{% static 'portfolio/images/ulht.PNG' %}" alt="ULHT"> ULHT - Universidade Lusófona de Humanidades e
    Tecnologias | Vera
    Tavares | a21700054 | 2023 | <a href="{% static 'portfolio/images/Mapa_do_Site.png' %}" target="_blank">Mapa do
        Site </a></footer>


<script>
    const modeSwitch = document.getElementById('mode-toggle');
    const linkElement = document.querySelector('link[href="{% static 'portfolio/css/layout.css' %}"]');

    // Verifica se há escolha armazenada no localStorage
    const mode = localStorage.getItem('mode');
    if (mode === 'dark') {
        linkElement.setAttribute('href', "{% static 'portfolio/css/estilos_dark.css' %}");
        modeSwitch.checked = true;
    }

    modeSwitch.addEventListener('click', () => {
        if (linkElement.getAttribute('href') === '{% static 'portfolio/css/layout.css' %}') {
            linkElement.setAttribute('href', '{% static 'portfolio/css/estilos_dark.css' %}');
            localStorage.setItem('mode', 'dark');
        } else {
            linkElement.setAttribute('href', '{% static 'portfolio/css/layout.css' %}');
            localStorage.setItem('mode', 'light');
        }
    });

    window.addEventListener('load', function () {
        var labLinks = document.querySelectorAll('#laboratorios realizados a');
        for (var i = 0; i < labLinks.length; i++) {
            labLinks[i].setAttribute('target', '_blank');
        }
    });

</script>
