{% extends 'portfolio/layout.html' %}

{% block main %}
    <br>
    <h1><span style="color:#13312d; font-weight:bold; font-size:xxx-large;">Licenciatura Informática de Gestão</span>
    </h1>
    <br>
    <br>
    <br>
    <table class="tabela1Ano">
        <thead>
        <tr>
            <th colspan="4">
                1ºAno
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-tr">
            <th>Semestre</th>
            <th>Disciplina</th>
            <th>ECTS</th>
            <th>Estado</th>
        </tr>
        {% for disciplina in licenciatura1 %}
            <tr>
                <td>{{ disciplina.semestre }}</td>
                <td>{{ disciplina.disciplina }}</td>
                <td>{{ disciplina.ects }}</td>
                {% if disciplina.estado == 'aprovado' %}
                    <td class="aprovado"></td>
                {% else %}
                    <td>{{ disciplina.estado }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="tabela2Ano">
        <thead>
        <tr>
            <th colspan="4">
                2ºAno
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-tr">
            <td>Semestre</td>
            <td>Disciplina</td>
            <td>ECTS</td>
            <td>Estado</td>
        </tr>
        {% for disciplina in licenciatura2 %}
            <tr>
            <td>{{ disciplina.semestre }}</td>
            <td>{{ disciplina.disciplina }}</td>
            <td>{{ disciplina.ects }}</td>
            {% if disciplina.estado == 'aprovado' %}
                <td class="aprovado"></td>
            {% else %}
                <td>{{ disciplina.estado }}</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table class="tabela3Ano">
        <thead>
        <tr>
            <th colspan="4">
                3ºAno
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="header-tr">
            <td>Semestre</td>
            <td>Disciplina</td>
            <td>ECTS</td>
            <td>Estado</td>
        </tr>
        {% for disciplina in licenciatura3 %}
            <tr>
                <td>{{ disciplina.semestre }}</td>
                <td>{{ disciplina.disciplina }}</td>
                <td>{{ disciplina.ects }}</td>
                {% if disciplina.estado == 'aprovado' %}
                    <td class="aprovado"></td>
                {% else %}
                    <td>{{ disciplina.estado }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
