{% extends 'portfolio/layout.html' %}

{% block main %}
    <br>
    <h1><span style="color:#13312d; font-weight:bold; font-size:xxx-large; ">Outras Competências</span></h1>
    <br>
    <br>
    <br>
    <table class="tabelaOutrasCompetencias">

        <thead>
        <tr class="header-tr">
            <th>NOME</th>
            <th>DATA DE INICIO</th>
            <th>DATA FIM</th>
            <th>INSTITUIÇÃO</th>
        </tr>
        </thead>
        <tbody>
        {% for competencias in outras_competencias %}
            <tr>
            <td>{{ competencias.nome }}</td>
            <td>{{ competencias.dataInicio }}</td>
            <td>{{ competencias.dataFim }}</td>
            <td>{{ competencias.instituicao }}</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}
