{% extends 'portfolio/layout.html' %}

{% block main %}
    <br>
    <h1><span style="color:#13312d; font-weight:bold; font-size:xxx-large; ">Percurso Académico</span></h1>
    <br>
    <br>
    <br>
    <table class="tabelaPercursoAcademico">
        <thead>
        <tr class="header-tr">
            <th>NOME</th>
            <th>DATA DE INICIO</th>
            <th>DATA FIM</th>
            <th>INSTITUIÇÃO</th>
        </tr>
        </thead>
        <tbody>
        {% for percurso in percurso_academico %}
            <tr>
                <td>{{ percurso.nome }}</td>
                <td>{{ percurso.dataInicio }}</td>
                <td>{{ percurso.dataFim }}</td>
                <td>{{ percurso.instituicao }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

