.container {
  margin-top: 30px;
}

.card {
  background-color: rgb(36, 61, 59);
  font-size: large;
}

.card-header {
  background-color: rgb(27, 117, 110);
  color: rgb(173, 240, 225);
  font-size: xxx-large;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 3rem;
}

.btn {
  border-radius: 1rem;
  height: 2.55rem;
  width: 4rem;
  margin: 2rem;
}

.btn-outline-light {
  color: #363636;
  border-color: rgb(27, 117, 110);
}

.btn-outline-light:hover {
  color: #24694f;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.text-white {
  color: #fff;
}

.fa-location-arrow {
  color: #fff;
}

.list-group-item{
  font-size: xx-large;
  color: whitesmoke;
}

.list-group{
  margin: 3rem;
}

.input-group-prepend{
  margin: 3rem;
}